* {
  background-color: rgb(55, 54, 54);
  color: aqua;
}

.listbox {
  width: 100wh;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.search {
  width: 80%;
  height: 30px;
  border-radius: 10%;
  margin-left: 10px;
}
